.iframe_box{width: 100%;height: 100%;position: absolute;padding-top: 80px;}
.iframe_left{height: 100%;width: 170px;background: #23262f;color: #fff;float: left;	}
.iframe_right{height: 100%;width: 1744px;background: #fff;float: right;overflow-y: scroll;	}

.list_top{height: 35px;width: 170px;font-size: 16px;line-height: 35px;text-indent: 10px;background: #000;}
.iframe_left_list{height: 100%;}
.iframe_left_list li{border-bottom: 1px solid #000;}
.list_folder{width: 170px;height: 35px;line-height: 35px;font-size: 14px;text-indent: 30px;background:url('../images/arror_right.png') no-repeat;background-size: 10px 10px;background-position: 10px center;cursor: pointer;}
.list_file{width: 170px;height: 35px;line-height: 35px;font-size: 14px;text-indent: 40px;background:url('../images/file.png') no-repeat;background-size: 20px 20px;background-position: 20px center;cursor: pointer;}

.ul_file{display: none;}

.iframe_right_top{height: 30px;width: 1630px;margin:20px auto;}
.right_top_left span{font-size: 16px;color: #d70c18;float: left;display: block;height: 30px;line-height: 30px;}
.right_top_left input{float: left;margin: 0 20px;height: 30px;border: 1px solid #000;border-radius: 3px;width: 150px;}
.search_btn{width: 80px;float: left;font-weight: 600;}
.right_btn{float: right;width: 80px;margin: 0 10px;font-weight: 600;}

.right_btn{font-size: 16px;height: 30px;border: 1px solid #d70c18;border-radius: 3px;text-align: center;line-height: 30px;color: #d70c18;cursor: pointer;}

.iframe_right_list table{width:1630px;margin: 10px auto 0;  table-layout: fixed;}
.iframe_right_list tr:nth-child(odd){background: #eee;}
.iframe_right_list tr:nth-child(even){background: #fff;}
.iframe_right_list th{text-align: center;background: #d7e3ed;height: 50px;line-height: 50px;color: #666;}
.iframe_right_list td{border: 1px solid #e4eaec;text-align: center;height: 40px;line-height: 40px;color: #666;font-size: 14px;max-width: 600px;white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;}
.file_list_img{cursor: pointer;background: url('../images/file_btn.png') no-repeat;background-size: 20px 20px;background-position: center;}

.file2 .iframe_right_list{height: 300px;width: 1650px;overflow-y: scroll;margin: 0 auto;}


.file2{display: none;}
.file1{display: block;}
.close_btn{position: absolute;right: 40px;top: 90px;display: none;z-index: 1000;height: 34px;width: 71px;background: url('../images/close_btn.png') no-repeat;background-size: 71px 34px;cursor: pointer;}

.th_list{width: 310px;height: auto;z-index: 9999;display: block;background: #fff;position: absolute;color: #d70c18;border: 1px solid #d70c18;border-radius: 5px;top:29px;left: -230px; }
.th_list ul{width: 300px;margin: 0 auto;}
.th_list li{width: 150px;text-align: left;height: 30px;font-size: 14px;line-height: 30px;background: #fff;float: left;}