<html>
<head>
	<title>次元数字档案管理平台</title>
	<link rel="stylesheet" type="text/css" href="/archives/css/file.css">
	<link rel="stylesheet" type="text/css" href="/archives/css/css.css">
	<link rel="stylesheet" type="text/css" href="/archives/css/reset.css">

</head>
<body>
	<div class="iframe_box">
		<div class="iframe_left file_iframe_left">
			<div class="iframe_left_list">
				<div class="list_top">档案库列表</div>	
				<ul>
					<li class="list_folder">文书档案</li>
					<ul class="ul_file">
						<li class="list_file">2015</li>
						<li class="list_file">2016</li>
						<li class="list_file">2017</li>
						<li class="list_file">2018</li>
					</ul>
					<li class="list_folder">科技档案</li>
					<ul class="ul_file">
						<li class="list_file">xxx工程</li>
						<li class="list_file">xxx工程</li>
						<li class="list_file">xxx工程</li>
						<li class="list_file">xxx工程</li>
					</ul>
					<li class="list_folder">业务档案</li>
					<ul class="ul_file">
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
					</ul>
					<li class="list_folder">人事档案</li>
					<ul class="ul_file">
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
						<li class="list_file">xxx</li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="iframe_right file_iframe_right file1">
			<div class="iframe_right_top">
				<div class="right_top_left">
					<span class="folder_name">文书档案</span><span>-</span><span class="file_name">2015</span><input type="text" name="search"><div class="search_btn right_btn">检索</div>
				</div>
				<div class="right_top_right">
					<div class="right_btn">设置</div><div class="right_btn">赋权申请</div><div class="right_btn">借阅申请</div><div class="right_btn">加入收藏</div><div class="right_btn">导出</div><div class="right_btn">原文下载</div>
				</div>
			</div>
			<div class="iframe_right_list">
				<table>
					<tr>
						<th>序号</th>
						<th>附件</th>
						<th>档号</th>
						<th>文号</th>
						<th>文件题名</th>
						<th>责任者</th>
						<th>形成日期</th>
						<th>年度</th>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>002</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>003</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>004</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>005</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>006</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>007</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>008</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>009</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>010</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>011</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>012</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>013</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>014</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>015</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
					<tr>
						<td>016</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>xxx001号</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻</td>
						<td>温州市建设集团有限公司</td>
						<td>20140711</td>
						<td>2020</td>
					</tr>
				</table>
			</div>
			<div class="iframe_right_page">
				<!-- 分页放在这里 -->
			</div>
		</div>
		<div class="iframe_right file_iframe_right file2">
			<div class="iframe_right_top">
				<div class="right_top_left">
					<span class="folder_name">科技档案</span><span>-</span><span class="file_name">XX工程</span><input type="text" name="search"><div class="search_btn right_btn">检索</div>
				</div>
				<div class="right_top_right">
					<div class="right_btn">设置</div><div class="right_btn">赋权申请</div><div class="right_btn">借阅申请</div><div class="right_btn">加入收藏</div><div class="right_btn">导出</div><div class="right_btn">原文下载</div>
				</div>
			</div>
			<div class="iframe_right_list">
				<table>
					<tr>
						<th>序号</th>
						<th>档号</th>
						<th>编制单位</th>
						<th>案卷题名</th>
						<th>起始时间</th>
						<th>终止日期</th>
						<th>保管期限</th>
						<th>密级</th>
						<th>备注</th>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>20202020</td>
						<td>永久</td>
						<td>公开</td>
						<td></td>
					</tr>

				</table>
			</div>
			<div class="iframe_right_page">
				<!-- 分页放在这里 -->
			</div>
			<div class="iframe_right_top">
				<div class="right_top_left">
					<span>卷内目录</span><input type="text" name="search"><div class="search_btn right_btn">检索</div>
				</div>
				<div class="right_top_right">
					<div class="right_btn">设置</div><div class="right_btn">赋权申请</div><div class="right_btn">借阅申请</div><div class="right_btn">加入收藏</div><div class="right_btn">导出</div><div class="right_btn">原文下载</div>
				</div>
			</div>
			<div class="iframe_right_list">
				<table>
					<tr>
						<th>序号</th>
						<th>附件</th>
						<th>档号</th>
						<th>责任者</th>
						<th>文件标题</th>
						<th>成文日期</th>
						<th>页号</th>
						<th>备注</th>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					<tr>
						<td>001</td>
						<td class="file_list_img"></td>
						<td>xxx-WS·2014</td>
						<td>温州市建设集团有限公司</td>
						<td>嘻嘻嘻嘻嘻嘻嘻嘻寻寻寻寻寻寻寻寻寻寻寻寻寻</td>
						<td>10101010</td>
						<td>001</td>
						<td></td>
					</tr>
					
				</table>
			</div>
			<div class="iframe_right_page">
				<!-- 分页放在这里 -->
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		var afolder = document.getElementsByClassName('list_folder');
		var afile = document.getElementsByClassName('ul_file');
		for (var i = 0; i < afolder.length; i++) {
			afolder[i].index = i;
			afolder[i].onclick=function(){
				for (var j = 0; j < afile.length; j++) {
					afile[j].style.display = 'none';
					afile[this.index].style.display = 'block';
				}
				for (var k = 0; k < afolder.length; k++) {
					afolder[k].style.backgroundImage = 'url(images/arror_right.png)';
					afolder[this.index].style.backgroundImage = 'url(images/arror_down.png)';
				}
			}
		}
	</script>
</body>
</html>	